<form action="/forgetpass" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    
    <button type="submit">Send Email</button>

</form>