<form action="/createOrder" method="POST">
    <input type="hidden" name="name" value="">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="phone" value="">
    <button type="submit"   id="rzp-button1">Enroll now!</button>
    </form>