<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Cropcodes</h1>
    <h2>Welcome!</h2>
    <p class="lead">What are you?</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/FPO" role="button">FPO</a>
    <a class="btn btn-light btn-lg" href="/consumer" role="button">Consumer</a>
    <a class="btn btn-dark btn-lg" href="/Admin" role="button">Govt. Admin</a>

  </div>
</div>

<%- include('partials/footer') %>