<form action="/createOrder" method="POST">
    <input type="hidden" name="name" value="Garv">
    <input type="hidden" name="email" value="garvsoni2912@gmail.com">
    <input type="hidden" name="phone" value="7009738847">
    <button type="submit"   id="rzp-button1">Enroll now!</button>
    </form>

