<h1>Verify your email/mobile</h1>
<form action="/OTPv" method="post">
    <section>
        <label for="OTP">OTP</label>
        <input id="otp" name="OTP" type="text"  required>
    </section>
    <button type="submit">Submit OTP</button>
</form>